@charset "UTF-8";

/* 연락처 추가, 구성원 초대 모달창 */
input[id *= "popup"] {
	display: none;
}


input[id *= "popup"] + label + div {
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

input[id *= "popup"]:checked + label + div {
	opacity: 1;
	visibility: visible;
}

input[id *= "popup"] + label + div > div {
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	width: 40%;
	min-width : 300px;
	height: 85vh;
	background: #fff;
	z-index: 2;
	padding: 30px;
}

input[id *= "popup"] + label + div > div > label {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0%;
	right: 0%;
	padding: 20px;
	background: url(../images/close.png) no-repeat center center/15px ;
	border-radius: 100%;
	z-index:1;
	cursor: pointer;
}

input[id *= "popup"] + label + div > label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.4);
	z-index: 1;
	border-radius: 0;
}

.modal_label {

	text-align: center;
	margin: 15px 0px 10px 0px;	
	border: 0;	
	border-radius: 5px;	
	box-sizing: border-box;	
	width: 100px;
	height: 46px;
	font-size: 0.9rem;
	font-weight: bold;		
	display: inline-block;
	padding: 12px 3px;
	background: #7BE66D;
	color: #FFF;
	cursor: pointer;
}

/* 연락처 추가 - 모달창 콘텐츠 */
.modal_content {
	width: 100%;
	height: 100%;
}

.modal_content h2{
	text-align: left;
	font-size: 1.2rem;	
	font-weight: 600;
}

.add_cont {
	width: 100%;
	display: inline-block;
}

.add_cont img {
	background: none;
	background-size: 3rem;
}

.modal_content form {
	text-align: left;
	width: 100%;
}

.input_box_one {
	width: 100%;
	margin-bottom: 5px;	
	display: inline-block;
}

.vip_add {
	vertical-align: middle;
	display: inline-block;
	background: url(../images/찬별.png) 0 0 no-repeat;
	background-position: center;
	background-size: 25px;
	width: 35px;
	height: 35px;
	border: 0;
	margin: 5px 5px 5px 0;
	box-sizing: border-box;
}

.input_box_one input {
	width: calc(100% - 30px);
	height:35px;
	box-sizing: border-box;
	border: 0.5px solid #989898;
	border-radius: 5px;
	font-size: 0.9rem;
	padding-left: 8px;
}

.add_title {
	display: inline-block;
	width: 20%;
	box-sizing: border-box;
	margin: 20px 0 5px 0;
}

.input_box {
	display: inline-block;
	width: 100%;
}

.modal_content form label {
	background: none;
}

.input_box input{
	width: calc(50% - 20px);
	height:35px;
	box-sizing: border-box;
	margin: 0 2.5px 5px 0;
	border: 0.5px solid #989898;
	border-radius: 5px;	
	font-size: 0.9rem;
	padding-left: 8px;
}

.input_box select{
	width: calc(50% - 20px);
	height:35px;
	box-sizing: border-box;
	margin: 0 2.5px 5px 0;
	border: 0.5px solid #989898;
	border-radius: 5px;	
	font-size: 0.9rem;	
	padding-left: 5px;
}

.input_box_radio label {
	font-size: 0.9rem;
	font-weight: normal;
	padding: 10px 0;
	width: 80px;
}


#chooseFile {
    visibility: hidden;
}

.toggleSwitch {
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
  padding: 10px 20px;
  top: 3px;
}

/* 스위치  버튼 */
.toggleSwitch .toggleButton {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 48%;
  left: 0px;
  transform: translateY(-48%);
  border-radius: 50%;
  background: #EAEAEA;
}

#toggle:checked ~ .toggleSwitch {
  background: #7BE66D;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 20px);
  background: #fff;
}

.toggleSwitch, .toggleButton {
  transition: all 0.2s ease-in;
}

.add_btn_div{
	width: auto;
	height: auto;
	float: right;	
	margin-right: 30px;
}

.add_btn {
	width: 100px;
	height: 35px;	
	background-color: #7BE66D;
	border: none;
	border-radius: 5px;
	margin: 40px 5px 30px 5px;
	color: #FFF;
	color: #FFF;
	font-weight: bold;	
}

/* 구성원 초대 - 모달창 콘텐츠 */
.email_input {
	width: 100%;
	height:35px;
	box-sizing: border-box;
	border: 0.5px solid #989898;
	border-radius: 5px;
	font-size: 0.9rem;
	padding-left: 8px;	
}

#send_email_btn{
	width: 200px;
	height: 35px;	
	background-color: #7BE66D;
	border: none;
	border-radius: 5px;
	margin: 40px 5px 30px 5px;
	float: right;
	color: #FFF;
	font-weight: bold;	
}

#side_menu hr{
	width: 86%;
	color: #EAEAEA;
}

#side_menu p {
	text-align: left;
	margin: 20px;
}

#side_menu ul {
	text-align: left;
	list-style: none;
}

#search_box {
	width: 30%;
	height: 46px;
	border-radius: 5px;
	border: 1px solid #EAEAEA;
	background-color:#EAEAEA;
	background-image: url(../images/검색.png);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	box-sizing: border-box;
	padding: 0 40px;
	font-size: 1rem;
}

#search_btn {
	width: 100px;
	height: 46px;
	background-color: #7BE66D;
	color: #FFF;
	font-size: 1rem;
	border: 0;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
}


.alph a{
	width: auto;
	height: auto;
	margin: 20px;
}

.subject {
	text-align: center;
	font-weight: bold;
	font-size: 1.1rem;
}

 .subject table {
 	width: 90%;
 }
 
 .subject table th,td {
 	width: 14.2%;
 }
 
.accordion label {
	font-size: 0.9rem;
	padding: 8px 25px;
	width: auto;
	height: auto;
	cursor: pointer;
	float: left;
		
}


.accordion_cb_div label{
	float: left;
}

.accordion_cb_div {
	text-align: left;
}

.addr_label {
	background-color: #FFF;
	text-align: left;
	font-weight: normal;
	font-size: 1rem;	
	
 }
 
input[id *= "addr_menu"] {
	display: none;
}

input[id *= "addr_menu"] + label {
	display: block;
	padding: 10px 20px;
	cursor: pointer;
	position: relative;	
	font-weight: 600;
}

input[id *= "addr_menu"] + label span {
	position: absolute;
	top:27px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	display: inline-block;
	background: url(../images/오른쪽화살표.png) 0 0 no-repeat;
	background-size: 1.1rem;
}

.accordion_cb_div {
	margin-left: 40px;
	width:90%;
	max-height: 0;
	overflow: hidden;
	box-sizing: border-box;
	
}

input[id *= "addr_menu"]:checked + label + br + div {
	max-height: 100%;
}

input[id *= "addr_menu"]:checked + label span {

	position: absolute;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	display: inline-block;
	background: url(../images/아래쪽화살표.png) 0 0 no-repeat;
	background-size: 1.1rem;
	
}

#side_menu a {
	margin-left:20px;
	font-size: 1rem;
	padding: 10px 25px;
	text-decoration: none;
	display:flex;
	text-align: left;
}

.people {
	background: url(../images/그룹.png) 0 0 no-repeat;
	background-size: 1.1rem;
	background-position: left;	
	font-size: 0.9rem;
	font-weight: normal;
}

#accordion_cb{
	display: none;
	text-align: left;
}



.vip {
	background: url(../images/빈별.png) 0 0 no-repeat;
	background-size: 1.1rem;
	background-position: left;	
}

.trash {
	background: url(../images/휴지통.png) 0 0 no-repeat;
	background-size: 1.1rem;
	background-position: left;	
}




