@charset "UTF-8";

body {
	margin : 0;
}

#grid_container {
	width : 100vm;
	height : 100vh;
	display: grid;
	grid-template-columns : minmax(180px, 180px) 7fr 2fr ;
	grid-template-rows : 1fr 9fr;

}

#header {
	grid-column : 1/4;
	grid-row : 1/2;
	background-color: #E4F7BA;	
}

#side {
	grid-column : 1/2;
	grid-row : 2/3;	
	background-color: #E4F7BA;
}

#content {
	grid-column : 2/4;
	grid-row : 2/3;	
	background-color: red;
}


#header_right {
	grid-column : 3/4;
	grid-row : 2/3;		
}


#header_container {
	display: grid;
	place-items: center;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	
}

#header_center {
	grid-column : 2/3;
	grid-row : 1/4;
	
}


#header_navi {

}

#header_navi ul {

	display:flex;
	margin: 0;
	padding: 0;
	align-self: center;	
}


#header_navi li {
	padding : 20px;
	list-style: none;
}

#header_right_container {
	display: grid;
	grid-template-columns: 2fr 25px 1fr;
	grid-template-rows: 3fr 1fr;
}

#profile_circle {
	grid-column : 3/4;
	grid-row : 1/2;	
}

#login {
	grid-column : 3/4;
	grid-row : 2/3;	
}

#hi {
	grid-column : 1/2;
	grid-row : 2/3;		
}

#bell {
	grid-column : 1/2;
	grid-row : 1/2;	
	position : relative;
	right : 5px;
}

#alert_count {
	grid-column : 2/3;
	grid-row : 1/2;	
	position : relative;
		
}

#header_right_container ul {
	display:flex;	
	padding: 0px;
	margin: 0px;
}

#header_right_container li {
	list-style: none;

}