#board {
    bottom: 0;
    left: 0;
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 8px;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}
body, button, html, input, select, textarea {
    color: var(--ds-text,#172b4d);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
style 속성 {
    --dynamic-background-color: hsla(0,0%,0%,0.16);
    --dynamic-icon-color: #FFFFFF;
    --dynamic-text-color: #FFFFFF;
    --dynamic-text-color-transparent: hsla(0,0%,100%,0.16);
    --dynamic-button-background-color: rgba(255, 255, 255, 0.2);
    --dynamic-button-background-color-hovered: rgba(255, 255, 255, 0.3);
    --dynamic-button-background-color-pressed: rgba(255, 255, 255, 0.4);
    --dynamic-nav-item-background-color-hovered: hsla(0, 0%, 100%, 0.16);
    --dynamic-nav-item-background-color-pressed: hsla(0, 0%, 100%, 0.3);
    --dynamic-background-color-transparent: hsla(0,0%,0%,0.16);
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
div::selection {
    background: #0000;
}
div {
    display: block;
}
.list-wrapper:first-child {
    margin-left: 12px;
}
.list-wrapper {
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    margin: 0 4px;
    vertical-align: top;
    white-space: nowrap;
    width: 272px;
}
.list {
    background-color: var(--ds-background-accent-gray-subtlest,#ebecf0);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width: 100%!important;
}
.list-header.is-menu-shown, .list-header.is-subscribe-shown {
    padding-right: 36px;
}
.list-header {
    flex: 0 0 auto;
    min-height: 20px;
    padding: 10px 8px;
    position: relative;
}
.u-clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.list-header-target {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.list-header-name-assist {
    display: none;
}
h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0 0 8px;
}
h2 {
    font-size: 20px;
    line-height: 24px;
}
h2[속성 스타일] {
    unicode-bidi: isolate;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.list-header textarea {
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;
    height: 28px;
}
.list-header textarea {
    resize: none;
}
textarea.mod-list-name {
    background: #0000;
    border-radius: 3px;
    box-shadow: none;
    font-weight: 600;
    height: 20px;
    margin: -4px 0;
    max-height: 256px;
    min-height: 20px;
    padding: 4px 8px;
    resize: none;
}
.list-header-name {
    width: 74%;
}
textarea {
    resize: vertical;
    width: 100%;
}
input, textarea {
    -webkit-appearance: none;
    background-color: var(--ds-background-input,#fafbfc);
    border: none;
    border-radius: 3px;
    box-shadow: inset 0 0 0 2px var(--ds-border-input,#dfe1e6);
    box-sizing: border-box;
    display: block;
    line-height: 20px;
    margin-bottom: 12px;
    outline: none;
    padding: 8px 12px;
    transition-duration: 85ms;
    transition-property: background-color,border-color,box-shadow;
    transition-timing-function: ease;
}
textarea {
    overflow: auto;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
textarea[속성 스타일] {
    unicode-bidi: plaintext;
}
textarea[dir="auto" i] {
    unicode-bidi: plaintext;
}
textarea {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: monospace;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: field;
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}
.list-header-extras {
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 1;
}
.view-list {
    float: left!important;
}
.hide {
    display: none;
}
.list-header-extras-menu, .list-header-extras-subscribe {
    color: var(--ds-icon-subtle,#6b778c);
    float: left;
    padding: 6px;
}
.icon-lg.mod-quiet, .icon-md.mod-quiet, .icon-sm.mod-quiet {
    color: var(--ds-icon-subtle,#6b778c);
}
.icon-lg, .icon-md, .icon-sm {
    color: var(--ds-icon,#42526e);
}
.icon-sm {
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    width: 20px;
}
.icon-lg, .icon-md, .icon-sm {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    font-family: trellicons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: bottom;
}
.list-header-extras-menu, .list-header-extras-subscribe {
    color: var(--ds-icon-subtle,#6b778c);
    float: left;
    padding: 6px;
}
.list-header-extras-limit-badge {
    background-color: var(--ds-background-accent-gray-subtler,#091e4214);
    border-radius: 20px;
    color: var(--ds-text-subtle,#5e6c84);
    float: left;
    font-size: 12px;
    font-weight: 700;
    font-weight: 400;
    line-height: 20px;
    margin: 4px 4px 0 0;
    padding: 2px 10px;
    text-align: center;
}
.list-header-extras-menu {
    border-radius: 3px;
}
a {
    color: var(--ds-link,#172b4d);
    background-color: initial;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.icon-overflow-menu-horizontal:before {
    content: "\e952";
}
.list-header-num-cards {
    color: var(--ds-text-subtle,#5e6c84);
    margin: 0 8px;
}
p {
    margin: 0 0 8px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.u-clearfix:after {
    clear: both;
    content: "";
    display: table;
}
.list-cards {
    flex: 1 1 auto;
    margin: 0 4px;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 4px;
    z-index: 1;
}
.u-fancy-scrollbar {
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}
.u-fancy-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
.u-fancy-scrollbar::-webkit-scrollbar-track-piece {
    background: var(--ds-background-accent-gray-subtlest,#091e4214);
}
.card-composer-container {
    display: flex;
    justify-content: space-between;
    max-height: 38px;
    min-height: 38px;
}
.open-card-composer {
    border-radius: 3px;
    color: var(--ds-text-subtle,#5e6c84);
    display: block;
    flex: 1 0 auto;
    margin: 2px 0 8px 8px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
}
.open-card-composer .icon-add {
    color: var(--ds-icon-subtle,#6b778c);
    margin-right: 2px;
}
.icon-add:before {
    content: "\e901";
}
.ZZ\+B1\+ksnEcE8d:visited, .ZZ\+B1\+ksnEcE8d:active {
    outline: none;
}
.ZZ\+B1\+ksnEcE8d {
    margin-right: 8px;
}
.ZZ\+B1\+ksnEcE8d .icon-template-card {
    margin-right: 0;
}
.card-composer-container .icon-template-card {
    color: var(--ds-icon-subtle,#6b778c);
    cursor: pointer;
    margin-right: 8px;
    margin-top: 2px;
    padding: 4px;
}
